<template lang="pug">
    .user-request
        .user-request__header
            .user-request__container.--flex
                .user-request__status {{ data.RequestStatusName }}
                .user-request__number {{ data.ID }}
                .user-request__cat.title.--reset {{ data.ServiceName }}
                router-link(
                    to="/user/list"
                    class="user-request__back"
                )
                    i.el-icon-right
                

        .user-request__body
            .user-request__container
                table.user-request__layout
                    tr
                        td Адрес
                        td {{ data.Address }}
                    tr
                        td Категория
                        td {{ data.ServiceName}}
                    tr
                        td Заявитель
                        td {{ data.AuthorID }}
                    tr
                        td Дата подачи
                        td {{ date }}
                    tr
                        td Описание
                        td {{ data. Description }}
                    tr
                        td Фото
                        td
                            img(
                                v-for="(img, i) in data.Files"
                                :key="i"
                                :src="`${url}File/${img}`"
                            )
</template>

<script>
import { mapGetters } from 'vuex';
import { BASE_URL } from '@/utils/constants.js';

export default {
    name: 'UserRequest',

    computed: {
        data() {
            const id = Number(this.$route.params.id);
            return this.$store.getters.request(id);
        },

        date() {
            const d = this.data.DateCreated.split('T');
            return `${d[0]} ${d[1]}`;
        },

        url() {
            return BASE_URL;
        }
    }
}
</script>

<style lang="postcss">
.user-request {
    &__header {
        position: relative;
        height: 60px;
        margin: 0 -20px;
        padding: 0 20px;
        border-bottom: 1px solid var(--color-bd);
    }
    &__container {
        position: relative;
        max-width: 800px;
        margin: 0 auto;

        &.--flex {
            display: flex;
            align-items: center;
        }
    }
    &__layout {
        td {
            padding: 15px;
            border: none;
            vertical-align: top;
        }
        td:first-child {
            padding-left: 0;
            width: 100px;
            opacity: 0.6;
        }

        img {
            height: 100px;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
    &__status {
        position: absolute;
        top: 50%;
        left: -170px;
        top: -5px;
        width: 150px;
        height: 40px;
        line-height: 40px;
        border-radius: 20px;
        background-color: var(--primary);
        text-align: center;
        color: #fff;
    }
    &__number {
        width: 100px;
        color: #909399;
    }
    &__back {
        display: inline-block;
        margin-left: auto;
        font-size: 25px;
        color: var(--color-base);
    }
}
</style>