<template lang="pug">
    .user-categories
        .title
            span Выберите категорию

        .user-categories__container.sector.--min
            router-link(
                v-for="(cat, i) in categories"
                :key="cat.ID"
                :to="`/user/categories/${cat.ID}`"
                class="user-categories__link"
            )
                div(:class="`ico ico-${cat.ID}`")
                | {{ cat.Name }}

        .sector.--gray
            .container.--flex(style="padding: 30px 40px 10px;")
                .title.--reset(style='margin-right: auto;') Обращения жителей
                router-link(to="/user/list") Смотреть все сообщения

            .container.--flex
                v-card(
                    v-for="(req, i) in last"
                    :key="i"
                    :data="req"
                    user="user"
                )
</template>

<script>
import { mapState } from 'vuex';
import VCard from '@/components/VCard.vue';

export default {
    name: 'UserCategories',

    computed: {
        ...mapState([
            'services',
            'requests'
        ]) ,
        
        categories() {
            if (!this.services) return;
            return this.services.filter(e => e.ParentID === null);
        },

        last() {
            if (!this.requests || !this.services) return;
            return this.requests.slice(0, 4).map(e => ({
                ...e,
                date: e.DateCreated.split('T')[0],
                service: this.services.find(cat => cat.ID === e.ServiceID).Name
            }));
        }
    },

    components: {
        VCard
    }
}
</script>

<style lang="postcss">
.user-categories {
    &__container {
        display: flex;
        flex-wrap: wrap;
    }
    
    &__link {
        display: flex;
        align-items: center;
        height: 105px;
        width: calc(50% - 20px);
        margin: 10px;
        background-color: #F0F3F5;
        border-radius: 15px 10px;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--color-base);

        .ico {
            margin: 0 15px 0 35px;
        }
    }
}

.ico {
    width: 46px;
    height: 46px;
}

.ico-1 {
    background-image: url(/icons/blue/electric.svg) !important;
}

.ico-2 {
    background-image: url(/icons/blue/gas.svg) !important;
}

.ico-3 {
    background-image: url(/icons/blue/water.svg) !important;
}
.ico-4 {
    background-image: url(/icons/blue/heater.svg) !important;
}
.ico-5 {
    background-image: url(/icons/blue/trash.svg) !important;
}
.ico-6 {
    background-image: url(/icons/blue/roller.svg) !important;
}
.ico-7 {
    background-image: url(/icons/blue/light.svg) !important;
}
</style>

