<template>
  <div id="map" class="geo"></div>
</template>

<script>
  import * as Map from '../Map';

  export default {
    name: 'UserGeo',
    mounted() {
      // создаем объект карты
      const core = new Map.Core();
      core.onclick = function (buildingID, location, feature) {
        // местоположение выбрано
        console.log('onclick');
        console.log('buildingID:', buildingID);
        console.log('location:', location);

        const address = feature ? feature.getProperties().name : `адрес не указан`;
        console.log('адрес:', address);
      };
      core.mount('#map');
    }
  };
</script>

<style lang="postcss">
  .geo {
    min-height: 450px;
  }
</style>
