<template>
    <div class="content show_dashboards" id="main-content">
        <div class="content-container" id="content-container">

            <div class="dashboard-container" id="dashboard-manager" style="display: flex;">
                <div class="dashboard-head">
                  <div class="dashboard-head-refresh">
                    <div class="dashboard-head-refresh-text">Обновлен:</div>
                    <div class="dashboard-head-refresh-date" id="dashboard-head-refresh-date">16.06.2019 14:13:05</div>
                  </div>
                </div>
                <div class="dashboard-body">
                    <div class="dashboard-col dashboard-col-26">
                        <div class="dashboard-col-head">
                            <div class="dashboard-col-head-title">
                                Заявки
                            </div>
                        </div>

                        <div class="dashboard-col-body" id="list-con">

                            <div class="dashboard-table-head">
                                <div class="dashboard-table-col dashboard-table-col-1"><span>Название филиала</span></div>
                                <div class="dashboard-table-col dashboard-table-col-2"><span>Окна</span></div>
                                <div class="dashboard-table-col dashboard-table-col-3"><span class="cursor-pointer" onclick="dashboard.manager.mfcList.showReport();">Очередь</span></div>
                                <div class="dashboard-table-col dashboard-table-col-4"><span>Среднее время ожидания</span></div>
                            </div>
                            <div class="dashboard-table-body">
                                <div data-view-scroll="" class="dashboard-table-body2 mCustomScrollbar _mCS_1 mCS-autoHide" id="filial-list" style="overflow: visible;"><div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0"><div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr"><div class="dashboard-table-row dashboard-green"><div class="dashboard-table-col dashboard-table-col-1"><span class="dashboard-table-row-title cursor-pointer" onclick="dashboard.showFilial(3);">Кировский - 3</span></div><div class="dashboard-table-col dashboard-table-col-2"><span class="dashboard-table-row-title" id="mfc-operator-cnt-3">0/0</span></div><div class="dashboard-table-col dashboard-table-col-3"><span class="dashboard-queue-val-icon icon-action icon-action-people" onclick="dashboard.manager.mfcList.showWaitingWindow(3);"></span><span class="dashboard-queue-val" id="mfc-queue-3" onclick="dashboard.manager.mfcList.showWaitingWindow(3);">0</span></div><div class="dashboard-table-col dashboard-table-col-4"><span class="dashboard-queue-time">00:00</span></div></div><div class="dashboard-table-row dashboard-green"><div class="dashboard-table-col dashboard-table-col-1"><span class="dashboard-table-row-title cursor-pointer" onclick="dashboard.showFilial(16);">Свердловский</span></div><div class="dashboard-table-col dashboard-table-col-2"><span class="dashboard-table-row-title" id="mfc-operator-cnt-16">0/0</span></div><div class="dashboard-table-col dashboard-table-col-3"><span class="dashboard-queue-val-icon icon-action icon-action-people" onclick="dashboard.manager.mfcList.showWaitingWindow(16);"></span><span class="dashboard-queue-val" id="mfc-queue-16" onclick="dashboard.manager.mfcList.showWaitingWindow(16);">0</span></div><div class="dashboard-table-col dashboard-table-col-4"><span class="dashboard-queue-time">00:00</span></div></div><div class="dashboard-table-row dashboard-green"><div class="dashboard-table-col dashboard-table-col-1"><span class="dashboard-table-row-title cursor-pointer" onclick="dashboard.showFilial(19);">Кировский - 2</span></div><div class="dashboard-table-col dashboard-table-col-2"><span class="dashboard-table-row-title" id="mfc-operator-cnt-19">0/0</span></div><div class="dashboard-table-col dashboard-table-col-3"><span class="dashboard-queue-val-icon icon-action icon-action-people" onclick="dashboard.manager.mfcList.showWaitingWindow(19);"></span><span class="dashboard-queue-val" id="mfc-queue-19" onclick="dashboard.manager.mfcList.showWaitingWindow(19);">0</span></div><div class="dashboard-table-col dashboard-table-col-4"><span class="dashboard-queue-time">00:00</span></div></div><div class="dashboard-table-row dashboard-green"><div class="dashboard-table-col dashboard-table-col-1"><span class="dashboard-table-row-title cursor-pointer" onclick="dashboard.showFilial(21);">Центральный - 2</span></div><div class="dashboard-table-col dashboard-table-col-2"><span class="dashboard-table-row-title" id="mfc-operator-cnt-21">0/0</span></div><div class="dashboard-table-col dashboard-table-col-3"><span class="dashboard-queue-val-icon icon-action icon-action-people" onclick="dashboard.manager.mfcList.showWaitingWindow(21);"></span><span class="dashboard-queue-val" id="mfc-queue-21" onclick="dashboard.manager.mfcList.showWaitingWindow(21);">0</span></div><div class="dashboard-table-col dashboard-table-col-4"><span class="dashboard-queue-time">00:00</span></div></div><div class="dashboard-table-row dashboard-green"><div class="dashboard-table-col dashboard-table-col-1"><span class="dashboard-table-row-title cursor-pointer" onclick="dashboard.showFilial(38);">Свердловский - 2</span></div><div class="dashboard-table-col dashboard-table-col-2"><span class="dashboard-table-row-title" id="mfc-operator-cnt-38">0/0</span></div><div class="dashboard-table-col dashboard-table-col-3"><span class="dashboard-queue-val-icon icon-action icon-action-people" onclick="dashboard.manager.mfcList.showWaitingWindow(38);"></span><span class="dashboard-queue-val" id="mfc-queue-38" onclick="dashboard.manager.mfcList.showWaitingWindow(38);">0</span></div><div class="dashboard-table-col dashboard-table-col-4"><span class="dashboard-queue-time">00:00</span></div></div><div class="dashboard-table-row dashboard-green"><div class="dashboard-table-col dashboard-table-col-1"><span class="dashboard-table-row-title cursor-pointer" onclick="dashboard.showFilial(49);">Индустриальный - 2</span></div><div class="dashboard-table-col dashboard-table-col-2"><span class="dashboard-table-row-title" id="mfc-operator-cnt-49">0/0</span></div><div class="dashboard-table-col dashboard-table-col-3"><span class="dashboard-queue-val-icon icon-action icon-action-people" onclick="dashboard.manager.mfcList.showWaitingWindow(49);"></span><span class="dashboard-queue-val" id="mfc-queue-49" onclick="dashboard.manager.mfcList.showWaitingWindow(49);">0</span></div><div class="dashboard-table-col dashboard-table-col-4"><span class="dashboard-queue-time">00:00</span></div></div><div class="dashboard-table-row dashboard-green"><div class="dashboard-table-col dashboard-table-col-1"><span class="dashboard-table-row-title cursor-pointer" onclick="dashboard.showFilial(259);">Мотовилихинский</span></div><div class="dashboard-table-col dashboard-table-col-2"><span class="dashboard-table-row-title" id="mfc-operator-cnt-259">0/0</span></div><div class="dashboard-table-col dashboard-table-col-3"><span class="dashboard-queue-val-icon icon-action icon-action-people" onclick="dashboard.manager.mfcList.showWaitingWindow(259);"></span><span class="dashboard-queue-val" id="mfc-queue-259" onclick="dashboard.manager.mfcList.showWaitingWindow(259);">0</span></div><div class="dashboard-table-col dashboard-table-col-4"><span class="dashboard-queue-time">00:00</span></div></div><div class="dashboard-table-row dashboard-green"><div class="dashboard-table-col dashboard-table-col-1"><span class="dashboard-table-row-title cursor-pointer" onclick="dashboard.showFilial(260);">Орджоникидзевский</span></div><div class="dashboard-table-col dashboard-table-col-2"><span class="dashboard-table-row-title" id="mfc-operator-cnt-260">0/0</span></div><div class="dashboard-table-col dashboard-table-col-3"><span class="dashboard-queue-val-icon icon-action icon-action-people" onclick="dashboard.manager.mfcList.showWaitingWindow(260);"></span><span class="dashboard-queue-val" id="mfc-queue-260" onclick="dashboard.manager.mfcList.showWaitingWindow(260);">0</span></div><div class="dashboard-table-col dashboard-table-col-4"><span class="dashboard-queue-time">00:00</span></div></div></div></div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer" style=""><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; top: 0px; display: block; height: 0px; max-height: 75px;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div>
                            </div>
                        </div>
                    </div>

                    <div class="dashboard-col" id="dashboard-manager-ipad">
                        <div class="dashboard-col-head-title-toggle"></div>
                        <div class="dashboard-body">
                            <div class="dashboard-col dashboard-col-manager" id="dashboard-manager-stat">
                                <div class="dashboard-col-head">
                                    <div class="dashboard-col-head-title">
                                        Статистика
                                    </div>
                                </div>
                                <div class="onload-overlay" id="stat-overlay"></div>

                            </div></div></div></div>
            </div>
        </div>
    </div>
</template>

<script>
import '@/styles/dashboard.css';
export default {
    name: 'Dashboard'
};
</script>

<style lang="postcss">

</style>
