<template lang="pug">
    el-container(
        class="app"
    )
        el-header(
            class="app__header"
        )
            .app__logo
                img(src="/logo.svg")
            .app__menu
                router-link(to="/user" active-class="--active") кабинет жильца
                router-link(to="/uk" active-class="--active") кабинет исполнителя
                router-link(to="/analytics" active-class="--active") аналитика
            .app__user Вася Васин

        el-main
            router-view
</template>

<script>
export default {
    name: 'App'
};
</script>

<style lang="postcss">
.app {
    height: 100vh;

    &__header {
        display: flex;
        align-items: center;
        height: 80px;
        background: #FFFFFF;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    }
    &__logo {
        width: 100px;
    }
    &__user {
        width: 100px;
    }
    &__menu {
        margin: 0 auto;

        a {
            display: inline-block;
            margin: 0 40px;
            font-size: 16px;
            text-transform: uppercase;
            color: #909399;
            text-decoration: none;

            &.--active {
                color: var(--primary);
            }
        }
    }
}

</style>
