<template lang="pug">
    router-view(
        :requests="requests"
        :services="services"
    )
</template>

<script>
export default {
    props: {
        requests: Array,
        services: Array
    }
};
</script>
