<template lang="pug">
.card-min
    .card-min__cat
        .card-min__title {{ data.ServiceName }}
        .card-min__date {{ data.DateCreated.split('T')[0] }}
    
    .card-min__address {{ data.Address }}
    .card-min__description {{ data.Description }}
    .card-min__to
        router-link(:to="`/${user}/list/${data.ID}`")
            i.el-icon-right
</template>

<script>
export default {
    name: 'VCardMin',
    props: {
        data: Object,
        user: String
    }
};
</script>

<style lang="postcss">
.card-min {
    margin: 6px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;

    &:first-child {
        margin-top: 6px;
    }

    &__cat {
        display: flex;
        align-items: center;
    }
    &__title {
        margin-right: auto;
        font-size: 16px;
        font-weight: 500;
    }
    &__date {
        margin-left: 6px;
        white-space: nowrap;
        font-size: 14px;
        color: #909399;
    }
    &__address {
        margin: 10px 0;
        color: var(--primary);
    }
    &__to {
        margin-top: 10px;
        text-align: right;
    } 
}
</style>
