<template lang="pug">
    .card
        .card__img
            img(:src="url")
        .card__body
            .card__name {{ data.ServiceName }}
            .card__date {{ data.date }}
            .card__address {{ data.Address }}
            .card__desc {{ data.Description }}
            .card__to
                router-link(:to="`/${user}/list/${data.ID}`")
                    i.el-icon-right
</template>

<script>
import { BASE_URL } from '@/utils/constants.js';

export default {
    name: 'VCard',

    props: {
        data: Object,
        user: String
    },

    computed: {
        url() {
            if (!this.data.Files || !this.data.Files.length) return;
            return `${BASE_URL}File/${this.data.Files[0]}`;
        }
    }
}
</script>

<style lang="postcss">
.card {
    overflow: hidden;
    width: calc(50% - 20px);
    margin: 0 10px;
    background-color: #fff;
    border-radius: 10px;

    &__img {
        overflow: hidden;
        height: 150px;
        background-color: #C0C4CC;

        img {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
    }
    &__body {
        padding: 30px;
    }
    &__name {
        font-size: 18px;
    }
    &__date {
        margin: 10px 0;
        color: #909399;
    }
    &__address {
        margin: 10px 0;
        color: #0E6BC1;
    }
    &__to {
        position: relative;
        top: 10px;
        text-align: right;
    } 
}
</style>

