<template lang="pug">
    div(style="height: 100%;")
        div(v-if="loading") Loading...
        template(v-else)
            router-view(
                :services="services"
                :requests="requests"
            )
</template>

<script>
import api from '@/utils/api.js';

export default {
    name: 'Uk',

    data: () => ({
        loading: true,
        services: null,
        requests: null
    }),

    methods: {
        getData() {            
            this.loading = true;
            
            Promise.all([
                this.getServices(),
                this.getRequests()
            ]).finally(() => {
                setTimeout(() => {
                    this.loading = false; 
                }, 100);
            });
        },
        
        getServices() {
            api.getServices()
                .then(data => this.$store.commit('setServices', data));
        },

        getRequests() {
            api.getRequest({ userID: 1 })
                .then(({ data }) => this.$store.commit('setRequests', data));
        }
    },

    created() {
        this.getData();
    }
};
</script>
