<template lang="pug">
    .user-request
        template(v-if="services")
            .title
                span Выберите подгатегорию

            .sector.--min.--flex
                router-link(
                    :to="`/user/categories`"
                    class="user-request__cat"
                )
                    | {{ active.Name }}


                ul.user-request__sub
                    li(
                        v-for="cat in categories"
                        @click="subcat = cat.ID"
                        :key="cat.ID"
                        :class="{ '--active': subcat === cat.ID }"
                    )
                        | {{ cat.Name }}

            .title
                span Указать метку на карте
                
            .sector.--min(style="height: 320px")
                #map.map
                el-input(:value="address" :disabled="true")
            .sector.--min
                .title
                    span Сообщение

                el-input(
                    v-model="message"
                    :rows="4"
                    type="textarea"
                )

            .sector.--min.--reset
                el-upload(
                    :on-preview="onPreview"
                    :auto-upload="false"
                    :limit="3"
                    ref="upload"
                    action=""
                    list-type="picture-card"
                    multiple
                )
                    i.el-icon-plus

                .form-footer
                    el-button(
                        @click="save"
                        type="primary"
                        :loading="loading"
                    )
                        | Отправить

            el-dialog(:visible.sync="previewVisible")
                img(
                    :src="previewImageUrl" 
                    width="100%" 
                    alt=""
                )
            
            .separator

            .sector.--min.--center
                | Я согласен c регламентом обработки информации и едиными
                br
                | правилами модерации 
</template>

<script>
import { mapState } from 'vuex';
import api from '@/utils/api.js';
import * as Map from '@/views/Map';

export default {
    name: 'UserRequest',

    data: () => ({
        loading: false,
        message: '',
        subcat: null,
        previewImageUrl: '',
        previewVisible: false,
        address: null,
        Location: null,
        BuldingID: null
    }),

    watch: {
        services(data) {
            if (data) this.$nextTick(() => this.initMap());
        }
    },

    computed: {
        ...mapState([
            'services'
        ]),
        
        id() {
            return Number(this.$route.params.id);
        },
        
        categories() {
            if (!this.services) return;
            return this.services.filter(e => e.ParentID === this.id);
        },

        active() {
            if (!this.services) return;
            return this.services.find(e => e.ID === this.id);
        }
    },

    methods: {
        save() {
            const { Location, BuildingID } = this;
            
            if (!this.subcat || !this.message || !Location) {
                this.$notify({
                    title: 'Ошибка',
                    message: 'Заполнены не все поля',
                    type: 'warning',
                    duration: 3000
                });
                
                return;
            }

            this.loading = true;
            
            api.saveRequest({
                Location,
                BuildingID,
                AuthorID: 1,
                ServiceID: this.subcat,
                Description: this.message,
            }).then(({data}) => {
                const input = this.$refs.upload.$el.querySelector('input[type="file"]');
                
                if (!input.files.length) this.onSaveSuccess();
                else {
                    this.upload(input.files, data)
                        .then(() => this.onSaveSuccess())
                        .catch((err) => {
                            throw new Error(err);
                        });
                }
            })
        },

        onPreview(file) {
            this.previewImageUrl = file.url;
            this.previewVisible = true;
        },

        upload(files, id) {
            const fd = new FormData();

            [...files].forEach(e => {
                fd.append('file', e);
            });

            return api.uploadImg(fd, `?requestID=${id}&authorID=1&isAfter=false`);
        },

        onSaveSuccess() {
            this.loading = false;
            
            this.$notify({
                title: 'Успех',
                message: 'Заявка отправлена',
                type: 'success',
                duration: 3000
            });
        },

        initMap() {
            this.core = new Map.Core();

            this.core.onclick = (buildingID, location, feature) => {
                this.BuldingID = buildingID;
                this.Location = {
                    Lon: location[0],
                    Lat: location[1]
                };
                this.address = feature ? feature.getProperties().name : `адрес не указан`;
            };

            this.core.mount('#map');
        }
    },

    mounted() {
        if (this.services) {
            this.initMap();
        }
    }
};
</script>

<style lang="postcss">
.user-request {
    &__cat {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 215px;
        height: 145px;
        margin-right: 20px;
        background-color: var(--primary);
        border-radius: 10px;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
    }
    &__sub {
        flex: 1;
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
            display: flex;
            align-items: center;
            height: 64px;
            padding: 10px 20px;
            box-sizing: border-box;
            border-top: 1px solid var(--color-bd);
            font-size: 17px;
            cursor: pointer;

            &:first-child {
                border-color: #fff;
            }

            &.--active {
                background-color: var(--primary);
                border-color: #fff;
                border-radius: 10px;
                color: #fff;

                & + li {
                    border-color: #fff;
                }
            }
        }
    }
}
</style>

