<template lang="pug">
    .user-list
        .user-list__header
            .title.--reset Заявки
        .user-list__layout
            .user-list__column
                .user-list__header
                    | Новые заявки
                v-card-min(
                    v-for="(req, i) in created"
                    :key="i"
                    :data="req"
                    user="uk"
                )
            .user-list__column
                .user-list__header
                    | В работе
                v-card-min(
                    v-for="(req, i) in active"
                    :key="i"
                    :data="req"
                    user="uk"
                )
            .user-list__column
                .user-list__header
                    | Выполнено
                v-card-min(
                    v-for="(req, i) in done"
                    :key="i"
                    :data="req"
                    user="uk"
                )
            .user-list__column
                .user-list__header
                    | Отклонено
                v-card-min(
                    v-for="(req, i) in rejected"
                    :key="i"
                    :data="req"
                    user="uk"
                )
</template>

<script>
import { mapState } from 'vuex';
import VCardMin from '@/components/VCardMin.vue';

export default {
    name: 'UserList',

    computed: {
        ...mapState([
            'requests'
        ]),
        
        created() {
            if (!this.requests) return
            return this.requests.filter(e => e.RequestStatusID === 1);
        },

        active() {
            if (!this.requests) return
            return this.requests.filter(e => e.RequestStatusID === 2);
        },

        done() {
            if (!this.requests) return
            return this.requests.filter(e => e.RequestStatusID === 3);
        },

        rejected() {
            if (!this.requests) return
            return this.requests.filter(e => e.RequestStatusID === 4);
        }
    },

    mounted() {

    },

    components: {
        VCardMin
    }
};
</script>

<style lang="postcss">
.user-list {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    &__header {
        display: flex;
        align-items: center;
        min-height: 60px;
        height: 60px;
    }
    &__layout {
        position: relative;
        flex: 1;
        display: flex;
        margin: 0 -10px;
    }
    &__column {
        flex: 1;
        margin: 0 10px;
        padding-bottom: 20px;
        background-color: #F0F3F5;
        border-radius: 10px;
    }
    &__header {
        display: flex;
        align-items: center;
        height: 60px;
        padding: 0 20px;
        font-size: 15px;
        font-weight: 500;
    }
}
</style>
