<template lang="pug">
    .user-request
        .user-request__header
            .user-request__container.--flex
                .user-request__status(:style="`background-color: ${statusColor}`") {{ data.RequestStatusName }}
                .user-request__number {{ data.ID }}
                .title.--reset {{ data.ServiceName }}
                router-link(
                    to="/uk/list"
                    class="user-request__back"
                )
                    i.el-icon-right
                

        .user-request__body
            .user-request__container
                table.user-request__layout
                    tr
                        td Адрес
                        td {{ data.Address }}
                    tr
                        td Категория
                        td {{ data.ServiceName}}
                    tr
                        td Заявитель
                        td {{ data.AuthorID }}
                    tr
                        td Дата подачи
                        td {{ date }}
                    tr
                        td Описание
                        td {{ data. Description }}
                    tr
                        td Фото
                        td
                            img(
                                v-for="(img, i) in data.Files"
                                :key="i"
                                :src="`${url}File/${img}`"
                            )
                    template(v-if="status === 4")
                        tr
                            td Причина
                            td {{ data.reason }}

                        tr
                            td Комментарий
                            td {{ data.comment }}

                .user-request__footer(v-if="status === 1")
                    el-button(type="success" @click="inProgress") Принять
                    el-button(type="danger" @click="showDialogCancel") Отклонить

                .user-request__footer(v-else-if="status === 2")
                    el-button(type="success" @click="inDone") Завершить
                    el-button(type="danger" @click="showDialogCancel") Отклонить

                .user-request__footer(v-else-if="status === 4")
                    el-button(type="success" @click="inProgress") Вернуть в работу

        el-dialog(
            :visible.sync="dialogCancel"
        )
            div(v-if="dialogLoading") Loading...
            el-form(v-else)
                el-form-item
                    el-select(
                        v-model="reason"
                        style="width: 100%;"
                        placeholder="Выбрать причину"
                    )
                        el-option(
                            v-for="(opt, i) in reasons"
                            :key="i"
                            :label="opt.Name"
                            :value="opt.ID"
                        )

                el-form-item
                    el-input(
                        v-model="comment"
                        :rows="4"
                        type="textarea"
                        placeholder="Комментарий"
                        style="width: 100%;"
                    )

            template(slot="footer")
                el-button(@click="dialogCancel = false") Отменить
                el-button(type="danger" @click="cancel") Отклонить 
</template>

<script>
import { mapGetters } from 'vuex';
import { BASE_URL } from '@/utils/constants.js';
import api from '@/utils/api.js';

export default {
    name: 'UserRequest',

    data: () => ({
        dialogLoading: false,
        dialogCancel: false,
        reason: null,
        reasons: null,
        comment: ''
    }),

    computed: {
        data() {
            const id = Number(this.$route.params.id);
            return this.$store.getters.request(id);
        },

        date() {
            const d = this.data.DateCreated.split('T');
            return `${d[0]} ${d[1]}`;
        },

        url() {
            return BASE_URL;
        },

        status() {
            return this.data.RequestStatusID;
        },

        statusColor() {
            if (this.status === 1) return '#005DCA';
            else if (this.status === 2) return '#FDA92C';
            else if (this.status === 3) return '#5EBE2E';
            else return '#F84D4D';
        }
    },

    methods: {
        showDialogCancel() {
            this.dialogLoading = true;
            this.dialogCancel = true;
            this.getDict()
                .then(() => {
                    this.dialogLoading = false;
                })
        },
        
        getDict() {
            return api.getDict({ serviceID: this.data.ServiceID })
                .then(({ data }) => (this.reasons = data));
        },

        cancel() {
            this.$store.commit('changeRequest', {
                ...this.data,
                RequestStatusID: 4,
                reason: this.reasons.find(e => e.ID === this.reason).Name,
                comment: this.comment
            });

            this.dialogCancel = false;
        },

        inProgress() {
            this.$store.commit('changeRequest', {
                ...this.data,
                RequestStatusID: 2
            });
        },

        inDone() {
            this.$store.commit('changeRequest', {
                ...this.data,
                RequestStatusID: 3
            });
        }
    }
}
</script>

<style lang="postcss">
.user-request {
    &__header {
        position: relative;
        height: 60px;
        margin: 0 -20px;
        padding: 0 20px;
        border-bottom: 1px solid var(--color-bd);
    }
    &__container {
        position: relative;
        max-width: 800px;
        margin: 0 auto;

        &.--flex {
            display: flex;
            align-items: center;
        }
    }
    &__layout {
        td {
            padding: 15px;
            border: none;
            vertical-align: top;
        }
        td:first-child {
            padding-left: 0;
            width: 100px;
            opacity: 0.6;
        }

        img {
            height: 100px;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
    &__status {
        position: absolute;
        top: 50%;
        left: -170px;
        top: -5px;
        width: 150px;
        height: 40px;
        line-height: 40px;
        border-radius: 20px;
        /* background-color: var(--primary); */
        text-align: center;
        color: #fff;
    }
    &__number {
        width: 100px;
        color: #909399;
    }
    &__back {
        display: inline-block;
        margin-left: auto;
        font-size: 25px;
        color: var(--color-base);
    }
    &__footer {
        margin-top: 45px;
        padding-top: 40px;
        border-top: 1px solid var(--color-bd);
        text-align: right;
    }
}
</style>