
/* main.css */
.dashboard .content-container {
  background-color: #fcf9f5;
  height: 100%;
}

.dashboard-container {
  height: 100%;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "PT Sans",sans-serif;
  font-size: 16px;
  color: #535353;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tar {
  text-align: right;
}

.dashboard-switch-con {
  position: absolute;
  right: 20px;
  top: 20px;
}

.dashboard-head {
  min-height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 20px;
}

.dashboard-head .ui-cmb-head {
  margin-right: 35px;
}

.dashboard-tooltip-title {
  font-size: 14px;
}

.dashboard-head .ui-button-group,
.dashboard-col-head .ui-button-group,
.dashboard-control .ui-button-group {
  margin-right: 0;
}

html body.new_ui.dashboard .dashboard-head .ui-button .ui-b-last .ui-b-text {
  border-right: none;
}

.dashboard-head-refresh {
  font-family:"PT Sans",sans-serif;
  font-size: 20px;
  line-height: 40px;
}

.dashboard-head-refresh-text {
  display: inline-block;
  padding: 0 15px 0 25px;
}

.dashboard-head-refresh-date {
  font-weight: bold;
  display: inline-block;
}

.dashboard-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.dashboard-col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  
  border: 1px solid #ebebeb;
  background-color: #fff;
  -webkit-box-shadow: 0 7px 20.79px 6.21px rgba(0,0,0,.07);
  box-shadow: 0 7px 20.79px 6.21px rgba(0,0,0,.07);
  min-width: 330px;
  position: relative;
  margin: 0 10px
}

.dashboard-col:first-child {
  margin-left: 0;
}

.dashboard-col:last-child {
  margin-right: 0;
}

#dashboard-manager-ipad {
  flex-basis: 74%;
  
  border: none;
  background-color: transparent;
  box-shadow: none;
  margin: 0 0 0 10px;
  min-width: inherit;
}

.dashboard-rank {
  position: relative;
}

.dashboard div.dashboard-full-screen {
  position: fixed;
  left: 28px;
  width: calc(100% - 56px);
  height: calc(100% - 130px);
  top: 110px;
  z-index: 10;
}

.dashboard-col .onload-overlay,
#stat-window-con .onload-overlay,
#chart-window-con .onload-overlay {
  z-index: 1000;
  /*background-image: url(../../theme/ui/light_2011/images/process.gif)!important;*/
  background-repeat: no-repeat!important;
  background-position: center center!important;
  background-color: #4d4d4d!important;
}

.dashboard-col-split {
  border: none;
  background: none;
  box-shadow: none;
  min-width: 570px;
}

.dashboard-col-26 {
  flex-basis: 26%;
}

.dashboard-col-74 {
  flex-basis: 74%;
}

.dashboard-col-12 {
  flex-basis: 12%;
}

.dashboard-col-88 {
  flex-basis: 88%;
}

.dashboard-col-37 {
  flex-basis: 37%;
}

.dashboard-col-manager {
  flex-basis: 50%;
}

.dashboard-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  
  border: 1px solid #ebebeb;
  background-color: #fff;
  -webkit-box-shadow: 0 7px 20.79px 6.21px rgba(0,0,0,.07);
  box-shadow: 0 7px 20.79px 6.21px rgba(0,0,0,.07);
  margin-bottom: 10px;
  height: calc(55% - 10px);
}

.dashboard-row:last-child {
  margin-bottom: 0;
  height: 45%;
}

.dashboard-col-head {
  border-bottom: 1px solid #ebebeb;
  padding: 14px 20px;
  min-height: 60px;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  
  position: relative;
  box-sizing: border-box;
}

.dashboard-col-head-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.dashboard-col-head-2 .icons {
  cursor: pointer;
  margin-left: 10px;
  color: #aaaaaa;
  font-size: 20px;
}

.dashboard-col-head-2 .icons:hover {
  color: #535353;
}

.dashboard-col-head-title {
  font-size: 20px;
  font-weight: bold;
  color: #282828;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.dashboard-col-head-title-toggle {
  display: none;
}

.dashboard-col-head-title-toggle-mfc {
  display: none;
}

#dashboard-mfc-work {
  min-width: 600px;
}

.dashboard-col-footer {
  border-top: 1px solid #ebebeb;
  height: 60px;
}

.dashboard-work-footer {
  height: 65px;
}

.dashboard-work-footer-b {
  height: 60px;
  border-bottom: 1px solid #ebebeb;
  padding-top: 10px;
}

.history-table tr td:first-child {
  white-space: nowrap;
}

.dashboard-col-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dashboard-camera-row {
    height: 100%;
}

.dashboard-camera-item {
    float: left;
    width: 240px;
    height: 180px;
    margin: 20px;
    cursor: pointer;
    background-color: #EEE;
    position: relative;
}

.dashboard-camera-item div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.dashboard-camera-item p {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px 3px #000;
    font-size: 20px;
}

.dashboard-camera-item:hover p {
    text-decoration: underline;
}

#ccamera_window .ui-wnd-text {
    /*background: url(../i/process.gif) center center no-repeat;*/
}

#call-con.dashboard-col-body, #rank-con.dashboard-col-body {
  position: relative;
}

.dashboard-table-row,
.dashboard-stat-row,
.dashboard-info-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 30px 20px;
  position: relative;
}

.dashboard-table-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dashboard-table-row.dashboard-red {
  background-color: #fef6f5;
}

.dashboard-table-row.dashboard-orange {
  background-color: #fffbf2;
}

.dashboard-table-body .dashboard-table-row:after,
.dashboard-table-body .dashboard-stat-row:after,
.dashboard-table-body .dashboard-info-row:after {
  content: " ";
  display: block;
  position: absolute;
  left: 20px;
  bottom: 0;
  height: 1px;
  width: calc(100% - 40px);
  background: #eaeaea;
}

.dashboard-rank-row {
  margin: 0 20px;
  padding: 10px 0;
}

.dashboard-table-body .dashboard-table-row.dashboard-rank-row:after {
  width: 100%;
  left: 0;
}

.dashboard-rank-row:last-child {
  border-bottom: none;
  padding-bottom: 20px;
}

.dashboard-rank-row:last-child:after {
  border-bottom: none;
  background-color: transparent;
}

.dashboard-stat-row {
  background-color: #FFF;
  padding: 20px 30px 28px 30px;
}

.dashboard-info-row {
  background-color: #FFF;
  padding: 20px;
}

.dashboard-stat-row.dashboard-alarm {
  background-color: #fef6f5;
  padding: 20px 30px;
}

.dashboard-table-body .dashboard-stat-row.dashboard-alarm:after {
  width: 100%;
  left: 0;
}

.dashboard-table-body .dashboard-stat-row:after {
  width: calc(100% - 40px);
  left: 20px;
}

.dashboard-stat-col {
  width: calc(50% - 25px);
}

.dashboard-alarm .dashboard-stat-col {
  width: calc(100% - 50px);
}

.dashboard-stat-col:first-child {
  width: 50px;
  padding-top: 6px;
}

.dashboard-alarm .dashboard-stat-col:first-child {
  color: #ed5338;
  padding-top: 0px;
}

.dashboard-info-col {
  width: 50%;
}

.dashboard-info2-row {
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.dashboard-info2-row:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 20px;
  height: 1px;
  width: calc(100% - 40px);
  background-color: #ebebeb;
}

.dashboard-info2-row .dashboard-table-row-title:first-child {
  flex-grow: 1;
}

.dashboard-stat-alarm-count {
  color: #ed5338;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.dashboard-stat-value {
  font-size: 28px;
  line-height: 30px;
  font-weight: bold;
}

.dashboard-stat-text {
  font-size: 17px;
  padding-top: 10px;
}

.dashboard-table-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  
  color: rgba(83,83,83,0.3);
  border-bottom: 1px solid #ebebeb;
  padding: 20px;
  position: relative;
}

.dashboard-table-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dashboard-fake {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  
  position: relative;
}

.dashboard-fake-head-2 {
  height: 60px;
}

.dashboard-fake-head {
  width: calc(100% - 40px);
  height: 60px;
  overflow: hidden;
  border-bottom: 1px solid #ebebeb;
}

.dashboard-fake-body-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto;
}

.dashboard-fake-body {
  overflow: auto;
  height: 100%
}

.dashboard-fake-head, .dashboard-fake-body {
  padding: 0 20px;
}

.dashboard-fake-body tr {
  cursor: pointer;
}

.dashboard-fake table {
  width: 100%;
}

.dashboard-fake th {
  padding: 20px 5px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(83,83,83,0.3);
  background-color: #FFF;
}

.dashboard-fake th,
.dashboard-fake td {
  text-align: right;
}

.dashboard-fake th:first-child,
.dashboard-fake td:first-child {
  text-align: left;
  white-space: inherit;
}

.dashboard-fake td {
  padding: 10px 5px;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #535353;
  white-space: nowrap;
  border-bottom: 1px solid #ebebeb;
}

.dashboard-fake tr:last-child td {
  border-bottom: none;
}

.dashboard-fake th:first-child,
.dashboard-fake td:first-child {
  padding-left: 0;
}

.dashboard-fake th:last-child,
.dashboard-fake td:last-child {
  padding-right: 0;
}

.dashboard-fake .green,
.dashboard-fake .red {
  text-align: left;
}

.dashboard-fake .green:before,
.dashboard-fake .red:before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px -4px 0;
  /*background: url(../i/dashboard-emo.gif);*/
}

.dashboard-fake .red:before {
  background-position-x: -20px;
}

.dashboard-table-body2 {
  height: 100%;
  overflow: auto;
  position: relative;
  min-height: 100%;
  flex-basis:0
}

.dashboard-table-col {
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 25%;
  
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.dashboard-table-col:first-child {
  width: 50%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-left: 0;
}

.dashboard-table-col:last-child {
  padding-right: 0;
}

#list-con .dashboard-table-col-1 {
  width: 50%;
}

#list-con .dashboard-table-col-2 {
  width: 15%;
}

#list-con .dashboard-table-col-3 {
  width: 19%;
}

#list-con .dashboard-table-col-4 {
  width: 16%;
}

.dashboard-col-split .dashboard-table-col:first-child {
  width: 70%;
}

.dashboard-col-split #call-con .dashboard-table-col:first-child {
  width: 73%;
}
  
.dashboard-col-split .dashboard-table-col {
  width: 7%;
}
  
.dashboard-col-split .dashboard-table-col:last-child {
  width: 23%;
}

.dashboard-col-split #call-con .dashboard-table-col:last-child {
  width: 27%;
}

.dashboard-table-row-title {
  font-size: 16px;
  font-weight: bold;
}

.mfc-active {
    background-color: #EEE;
}

.dashboard-camera {
    
}

.dashboard-queue-val {
  font-weight: bold;
  margin-left: 6px;
  text-align: left;
  width: 37px;
}

.dashboard-queue-time {
  font-weight: bold;
  margin-left: 6px;
  text-align: left;
}

.dashboard .red {
  color: #ed5338;
}

.dashboard .orange {
  color: #e8bb06;
}

.dashboard .green {
  color: #7dd66e;
}

.dashboard .gray {
  color: #dbdbdb;
}

.dashboard .blue {
  color: #3896ed;
}

.dashboard .green-bg {
  background-color: #f7fdf6;
}

.dashboard-red .icon-action-people,
.dashboard-red .dashboard-queue-val {
  color: #ed5338;
}

.dashboard-orange .icon-action-people,
.dashboard-orange .dashboard-queue-val {
  color: #e8bb06;
}

.dashboard-green .icon-action-people,
.dashboard-green .dashboard-queue-val {
  color: #7dd66e;
}

.dashboard-queue-col {
  color: #aeaeae;
  margin-left: 14px;
}

.dashboard-queue-val-icon:hover,
.dashboard-queue-col:hover,
.dashboard-queue-val:hover {
  opacity: 0.7;
  cursor: pointer;
}

.dashboard-status {
  font-size: 17px;
  padding: 18px 20px 0 20px;
}

.dashboard-status:after {
  content: " ";
  clear: both;
  display: block;
  height: 1px;
  background-color: #eaeaea;
}

.dashboard-status-good {
  float: left;
  padding-bottom: 17px;
}

.dashboard-status-bad {
  float: right;
  padding-bottom: 17px;
}

.dashboard-status-value {
  font-size: 21px;
}

.dashboard-status-bar {
  clear: both;
  height: 10px;
  background-color: #ed5338;
  position: relative;
  margin: 0 0 13px 0;
}

.dashboard-status-bar-bar {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 10px;
  background-color: #7dd66e;
}

.dashboard-col-control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  
  color: rgba(83,83,83,0.3);
  border-bottom: 1px solid #ebebeb;
  padding: 12px 20px 14px 20px;
  position: relative;
  font-size: 17px;
  color: #535353;
}

.dashboard-label {
  margin-right: 15px;
}

.dashboard-cal-split {
  margin: 0 9px 0 5px;
}

.dashboard-rank-val {
  position: relative;
  padding: 0 10px 0 25px;
}

.dashboard-rank-val:before {
  position: absolute;
  left: 0;
  top: -1px;
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  /*background: url(../i/dashboard-emo.gif);*/
}

.dashboard-rank-val.red:before {
  background-position-x: -20px;
}

.dashboard-chart {
  margin-top: 40px;
  height: calc(100% - 40px);
}

.chart-window-con .dashboard-chart {
  margin-top: 0px;
  height: calc(100% - 30px);
}

.chart-toggle {
  position: relative;
  overflow: hidden;
  height: 1px;
}

.chart-toggle {
  cursor: pointer;
  color: #aaaaaa;
  font-size: 14px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 20px;
  padding-top: 5px;
  text-align: center;
}

.dashboard-full-screen .icon-fullscreen,
.chart-toggle.icon-fullscreen-exit {
  display: none;
}

.dashboard-full-screen .chart-toggle.icon-fullscreen-exit {
  display: block;
}

#panel-chart .chart-cal {
  position: absolute;
  left: 20px;
  top: 10px;
}

.dashboard-col-head-2 .icons:hover {
  color: #535353;
}

.dashboard-internal {
  cursor: pointer;
}

.chart-window-con {
  height: 100%;
  position: relative;
}

#chart-overlay {
  top: 0;
}

.stat-window-con {
  font-size: 14px;
  color: #363636;
}

.stat-window-con th {
  font-weight: bold;
}

.stat-window-con th, .stat-window-con td {
  border: 1px solid #dcdcdc;
  padding: 7px;
}

.stat-window-con tr:nth-child(even) {
  background-color: #f9f9f9;
}

.dashboard-button {
  float: left;
  width: 20px;
  height: 21px;
  margin: 0 0 0 20px;
  cursor: pointer;
  font-size: 25px;
  color: #aaa9a9;
}

.dashboard-button-active {
  color: #ed5338;
}

.dashboard-button-exceed {
  position: relative;
}

.dashboard-button-active.dashboard-button-exceed:before {
  background-color: #ed5338;
}

.dashboard-button-exceed:before,
.dashboard-button-exceed:after {
  content: " ";
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #aaa9a9;
  z-index: 31;
}

.dashboard-button-exceed:after {
  left: 1px;
  top: 1px;
  width: 20px;
  height: 17px;
  padding-top: 3px;
  background-color: #FFF;
  z-index: 37;
  content: attr(data-exceed);
  font-size: 14px;
  text-align: center;
}

.dashboard-control {
  padding: 10px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.dashboard-window {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 16px 0 20px;
  position: relative;
}

.dashboard-window:after {
  content: " ";
  position: absolute;
  height: 1px;
  left: 20px;
  bottom: 0;
  width: calc(100% - 36px);
  background-color: #ebebeb;
}

.dashboard-window .w {
  font-size: 15px;
  font-weight: bold;
  padding: 12px 0;
  width: 55px;
  overflow: hidden;
  cursor: pointer;
}

.dashboard-window .time-exceeded {
  position: absolute;
  left: 10px;
  top: 11px;
  color: #ed5338;
}

.dashboard-window-numbers .w {
  padding: 0;
}

.dashboard-window .p {
  width: 190px;
  padding: 13px 0 9px 0;
  overflow: hidden;
}

.dashboard-window-numbers .p {
  padding: 0;
}

.dashboard-window .p>div {
  position: relative;
  padding-bottom: 6px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dashboard-window .q {
  width: 245px;
  padding: 9px 0 12px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#week-2-graph .dashboard-window .q,
#week-graph .dashboard-window .q {
  width: 220px;
  padding-top: 16px;
}

.dashboard-window .q div:first-child {
  font-size: 15px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 185px;
}

#week-2-graph .dashboard-window .q div:first-child {
  max-width: 215px;
}

.dashboard-window .q .qq {
  font-size: 14px;
  padding: 0 10px 0 15px;
}

.dashboard-window .t {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: calc(100% - 245px);
}

#week-2-graph .dashboard-window .t {
  width: calc(100% - 220px);
}

.dashboard-window .t i {
  flex-grow: 1;
  border-right: 1px solid #ebebeb;
  background-color: #f7f7f7;
}

#week-2-graph .dashboard-window .t i {
  width: 7.14%;
}

#week-graph .dashboard-window .t i {
  width: 14.28%;
}

.dashboard-window .t i:first-child {
  border-left: 1px solid #ebebeb;
}

#week-2-graph .dashboard-window .t i,
#week-graph .dashboard-window .t i {
  padding: 11px 0 0 5px;
  border: 0;
  background-color: transparent;
  text-align: center;
  
  font-size: 10px;
  color: #a1a1a1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#week-2-graph .dashboard-work-footer .dashboard-window .t i,
#week-graph .dashboard-work-footer .dashboard-window .t i {
  font-size: 16px;
  color: #535353;
  padding-top: 15px;
}

#week-2-graph .dashboard-work-footer .dashboard-window .t i:before,
#week-graph .dashboard-work-footer .dashboard-window .t i:before,
#week-2-graph .dashboard-work-footer .dashboard-window .t i:after,
#week-graph .dashboard-work-footer .dashboard-window .t i:after {
  display: none;
}

.dashboard-work-footer:last-child .dashboard-window:after {
  display: none;
}

.dashboard-work-footer .dashboard-window {
  padding-top: 6px;
  padding-bottom: 16px;
}

#week-2-graph .dashboard-col-body .dashboard-window .t i:before,
#week-graph .dashboard-col-body .dashboard-window .t i:before {
  content: attr(title);
}

#week-2-graph .dashboard-window .t i:after,
#week-graph .dashboard-window .t i:after {
  content: " ";
  display: block;
  height: 10px;
  margin: 6px 0 13px 0;
}

#week-2-graph .dashboard-window .t i.gr:after,
#week-graph .dashboard-window .t i.gr:after {
  background-color: #7dd66e;
}

#week-2-graph .dashboard-window .t i.blue:after,
#week-graph .dashboard-window .t i.blue:after {
  background-color: #3896ed;
}

#week-2-graph .dashboard-window .t i.dark:after,
#week-graph .dashboard-window .t i.dark:after {
  background-color: #535353;
}

#week-2-graph .dashboard-window .t i.red:after,
#week-graph .dashboard-window .t i.red:after {
  background-color: #ed5338;
}

#week-2-graph .dashboard-window.dashboard-window-numbers .t i:after,
#week-graph .dashboard-window.dashboard-window-numbers .t i:after {
  display: none;
}

#week-2-graph .dashboard-window.dashboard-window-numbers .q,
#week-graph .dashboard-window.dashboard-window-numbers .q {
  padding: 0;
}

.dashboard-window.dashboard-window-numbers .t i {
  background-color: transparent;
  border: 0;
  position: relative;
  height: 11px;
}

.dashboard-window.dashboard-window-numbers .t i:before,
.dashboard-window.dashboard-window-numbers .t i:last-child:after {
  content: attr(data-n);
  position: absolute;
  left: -5px;
  top: -2px;
  font-size: 10px;
  color: #a1a1a1;
}

#week-2-graph .dashboard-window.dashboard-window-numbers .t i,
#week-graph .dashboard-window.dashboard-window-numbers .t i {
  padding: 0;
}

.dashboard-window.dashboard-window-numbers .t i:last-child:after {
  content: '21';
  left: inherit;
  right: -5px;
}

#week-2-graph .dashboard-window.dashboard-window-numbers .t i:before,
#week-graph .dashboard-window.dashboard-window-numbers .t i:before {
  left: calc(50% - 5px);
}

#week-2-graph .dashboard-window.dashboard-window-numbers .t i:last-child:after,
#week-graph .dashboard-window.dashboard-window-numbers .t i:last-child:after {
  display: none;
}

.dashboard-window .t .g {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.dashboard-window .t ul {
  margin: 0;
  padding-top: 10px;
  clear: both;
}

.dashboard-window .t ul:first-child {
  padding-top: 15px;
}

.dashboard-work-content .dashboard-window .t ul:first-child {
  padding-top: 11px;
}

.dashboard-window-numbers .t ul {
  padding: 0;
}

.dashboard-window .t li {
  float: left;
  height: 10px;
}

.dashboard-window li.green {
  background-color: #7dd66e;
}

.dashboard-window li.red {
  background-color: #ed5338;
}

.dashboard-window li.dark {
  background-color: #535353;
}

.dashboard-window li.orange {
  background-color: #e8bb06;
}

.dashboard-window li.gray {
  background-color: #CCC;
}

.dashboard-window .t .line {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #ed5338;
  opacity: 0.5;
  z-index: 100;
}

.dashboard-window-legend {
  position: relative;
  float: left;
  padding: 20px 10px 0 45px;
  font-size: 14px;
}

.dashboard-window-legend:before {
  content: " ";
  position: absolute;
  display: block;
  left: 20px;
  top: 19px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.dashboard-window-legend-green:before {
  background-color: #7dd66e;
}

.dashboard-window-legend-dark:before {
  background-color: #535353;
}

.dashboard-window-legend-red:before {
  background-color: #ed5338;
}

.dashboard-window-legend-orange:before {
  background-color: #e8bb06;
}

.dashboard-window-legend-blue:before {
  background-color: #3896ed;
}

.week-control {
  position: relative;
  padding: 0 22px;
  margin-top: 7px;
}

.week-control p {
  padding: 0;
  margin: 0;
  font-size: 17px;
  font-weight: bold;
  color: #535353;
}

.week-control i {
  content: " ";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 1px;
  /*background: url(../i/dashboard-cal.gif) 4px 10px no-repeat;*/
  cursor: pointer;
  z-index: 100;
}

.week-control i:first-child {
  left: 0px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.week-control i:last-child {
  right: 0px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.dashboard-control-text-1 {
  margin-right: 12px;
}

.dashboard-control-text {
  font-size: 16px;
  font-weight: bold;
}

.dashboard-control-day {
  padding-top: 5px;
}

.dashboard-control-day .icon-action-user {
  margin-left: 15px;
}

.dashboard-work-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

#day-content {
  padding-bottom: 20px;
}

#week-2-table, #week-table {
  padding: 10px 0 20px 0;
}

.work-table {
  margin: 0 20px;
  width: calc(100% - 40px);
}

.work-table th, .work-table td {
  border: 1px solid #ebebeb;
  text-align: center;
  vertical-align: middle;
}

.work-table td {
  padding: 13px 0px;
  font-size: 14px;
}

.work-table tr:first-child th {
  padding: 13px 0px;
  font-size: 13px;
  font-weight: normal;
  color: #aaaaaa;
}

.work-table th {
  font-weight: bold;
}

.work-table tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.work-table tr:first-child {
  background-color: transparent;
}

.work-red {
  background-color: #f9e2de;
}

.work-yellow {
  background-color: #f7f1db;
}

.cursor-pointer {
  cursor: pointer;
}

#chistory_window table {
  width: calc(100% - 20px);
}

#chistory_window th, #chistory_window td {
  font-size: 14px;
  color: #363636;
  border: 1px solid #dcdcdc;
  padding: 7px;
}

#chistory_window th {
  font-weight: bold;
}

#chistory_window tr:nth-child(even) {
  background-color: #f9f9f9;
}

.mfc-hisory-tabs {
  height: 45px;
}

#mfc-hisory-con, #mfc-svod-con {
  height: calc(100% - 45px);
  overflow: auto;
}

html body.new_ui .ui-button.btn_history {
  margin-right: 0;
}

.dashboard-window .expert {
  font-style: italic;
  color: #c59368;
}


/* map.css */
.map:-moz-full-screen {
  height: 100%;
  width: 100%;
}
.map:-webkit-full-screen {
  height: 100%;
  width: 100%;
}
.map:-ms-fullscreen {
  height: 100%;
  width: 100%;
}
.map:fullscreen {
  height: 100%;
  width: 100%;
}
.ol-rotate {
  top: 3em;
}
.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 150px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}


/* fonts.css */
@font-face{
  /*font-family: action_1513003435038;
  src: url(../../../src/theme/icons/build/action/action_1513003435038.eot);
  src: url(../../../src/theme/icons/build/action/action_1513003435038.eot?#iefix) format("eot"),
    url(../../../src/theme/icons/build/action/action_1513003435038.woff2) format("woff2"),
    url(../../../src/theme/icons/build/action/action_1513003435038.woff) format("woff"),
    url(../../../src/theme/icons/build/action/action_1513003435038.ttf) format("truetype"),
    url(../../../src/theme/icons/build/action/action_1513003435038.svg#action_1513003435038) format("svg")*/
}

.icon-action:before,
.ui.dropdown>.dropdown.icon:before,
i.icon:before {
  font-family: action_1513003435038;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform:none;
}

.icon-action-arrow-top:before {
  content:"\E001"
}

.icon-action-arrow:before,
.ui.dropdown>.dropdown.icon:before {
  content:"\E002"
}

.icon-action-bars:before {
  content:"\E003"
}

.icon-action-clock:before {
  content:"\E004"
}

.icon-action-date:before {
  content:"\E005"
}

.icon-action-minus:before {
  content:"\E006"
}

.icon-action-move:before {
  content:"\E007"
}

.icon-action-people:before {
  content:"\E008"
}

.icon-action-plus:before {
  content:"\E009"
}

.icon-action-search:before, i.icon.search:before {
  content:"\E00A"
}

.icon-action-time:before {
  content:"\E00B"
}

.icon-action-user:before {
  content:"\E00C"
}

.icon-action-warning:before {
  content:"\E00D"
}

.icon-action-window:before {
  content:"\E00E"
}

/* fonts icomoon */

@font-face{
  /*font-family: icomoon;
  src: url(../../../src/theme/icons/icomoon/icomoon.eot);
  src: url(../../../src/theme/icons/icomoon/icomoon.eot?#iefix) format("eot"),
    url(../../../src/theme/icons/icomoon/icomoon.woff) format("woff"),
    url(../../../src/theme/icons/icomoon/icomoon.ttf) format("truetype"),
    url(../../../src/theme/icons/icomoon/icomoon.svg#icomoon) format("svg")*/
}

.icon-icomoon:before {
  font-family: icomoon;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform:none;
}

.icon-icomoon-list:before {
  content:"\e900"
}

.icon-icomoon-time:before {
  content:"\e901"
}

.icon-icomoon-window:before {
  content:"\e902"
}


/* ui.css */
html body.new_ui .dashboard-head .ui-button {
  height: 40px;
}

html body.new_ui .dashboard-col-head .ui-button,
html body.new_ui .dashboard-control .ui-button {
  height: 30px;
}

html body.new_ui.dashboard .ui-button .ui-b-text {
  background-color: #FFF;
  border: 1px solid #ebebeb;
  color: #535353;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
}

html body.new_ui.dashboard .dashboard-col-head .ui-button .ui-b-text,
html body.new_ui.dashboard .ui-wnd .ui-button .ui-b-text,
html body.new_ui.dashboard .dashboard-control .ui-button .ui-b-text {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}

html body.new_ui.dashboard .dashboard-col-head .ui-button .ui-b-center .ui-b-text,
html body.new_ui.dashboard .dashboard-col-head .ui-button .ui-b-text,
html body.new_ui.dashboard .dashboard-col-head .ui-button .ui-b-last .ui-b-text {
  padding-left: 10px;
  padding-right: 10px;
}

html body.new_ui.dashboard .ui-button .ui-b-center .ui-b-text,
html body.new_ui.dashboard .ui-button .ui-b-text,
html body.new_ui.dashboard .ui-button .ui-b-last .ui-b-text {
  padding-left: 20px;
  padding-right: 20px;
}

html body.new_ui.dashboard .ui-button .ui-active .ui-b-text,
html body.new_ui.dashboard .ui-button .ui-hover .ui-b-text {
  box-shadow: none;
  background-color: #c59368;
  border-color: #c59368;
  color: #FFF;
}

html body.new_ui.dashboard .ui-button .ui-active {
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.dashboard .pan-filter.ui-popup {
  min-width: 270px;
}

.dashboard .ui-popup-cont {
  padding: 0;
}

.dashboard .ui-tree.ui-selectable ul li {
  padding-top: 15px;
  padding-bottom: 18px;
  padding-left: 50px;
  font-size: 15px;
  border-bottom: 1px solid #eaeaea;
  color: #535353;
}

.dashboard #ct_mfc.ui-tree.ui-selectable ul li,
.dashboard #ct_filial.ui-tree.ui-selectable ul li {
  float: left;
  width: 145px;
  border-bottom: none;
}

.dashboard #ct_filial.ui-tree ul li.ui-active,
.dashboard #ct_filial.ui-tree ul li:hover {
  color: #c59368 !important;
}

.dashboard .ui-tree ul li.ui-active,
.dashboard .ui-tree ul li:hover {
  background-color: #FFF !important;
  color: #535353 !important;
}

.dashboard .ui-tree ul li.ui-focus,
.dashboard .ui-tree ul li.ui-has-active.ui-focus,
.dashboard .ui-tree ul li.ui-active.ui-focus,
.dashboard .ui-tree ul li.ui-focus:hover,
.dashboard .ui-tree ul:hover li.ui-focus:hover {
  border: 1px solid transparent;
  border-bottom: 1px solid #eaeaea;
}

.dashboard .ui-tree ul li:last-child {
  border-bottom: none;
}

.dashboard .ui-tree.ui-selectable ul li:before {
  background-color: #FFF;
  border: 1px solid #e4e4e4;
  height: 16px;
  width: 16px;
  top: 12px;
  left: 13px;
  margin-left: 0;
}

.dashboard .ui-tree.ui-selectable ul li.ui-active:before,
.dashboard .ui-tree.ui-selectable ul li.ui-has-selected:before,
.dashboard .ui-tree.ui-selectable ul li.ui-active:hover:before,
.dashboard .ui-tree.ui-selectable ul li.ui-has-selected:before,
.dashboard .ui-tree.ui-selectable ul li.ui-has-selected:hover:before,
.dashboard .ui-tree.ui-selectable ul li.ui-disabled.ui-active:before,
.dashboard .ui-tree.ui-selectable ul li.ui-disabled.ui-has-selected:before,
.dashboard .ui-tree.ui-selectable ul li.ui-disabled.ui-active:hover:before,
.dashboard .ui-tree.ui-selectable ul li.ui-disabled.ui-has-selected:hover:before {
  /*background: #FFF url(../i/dashboard-check.gif) no-repeat 2px 2px;*/
  border: 1px solid #e4e4e4;
}

html body.new_ui.dashboard .ui-textbox.ui-input .ui-control,
html body.new_ui.dashboard .ui-textbox.ui-input .ui-control.ui-active {
  box-shadow: none;
  border: none !important;
  background: none;
}

.dashboard .ui-textbox.ui-input .ui-changed .ui-textbox-clear-btn {
  display: none;
}

html body.new_ui.dashboard .ui-textbox.ui-input.ui-calendar .ui-textbox-cal-btn {
  /*background: #FFF url(../i/dashboard-cal.gif) no-repeat 4px 6px;*/
}

html body.new_ui.dashboard .ui-textbox.ui-input.ui-calendar .ui-textbox-inner input[type="text"] {
  font-size: 17px;
  font-weight: bold;
  color: #535353;
  height: 30px;
  cursor: pointer;
}

html body.new_ui.dashboard .ui-textbox.ui-input.ui-calendar {
  width: 110px !important;
}

.dashboard .ui-textbox.ui-input.ui-calendar .ui-changed .ui-textbox-inner {
  margin: 0;
}

html body.new_ui.dashboard .ui-cmb-head {
  height: 40px;
  box-shadow: none;
  border: 1px solid #ebebeb;
}

html body.new_ui.dashboard .ui-cmb-head:focus,
html body.new_ui.dashboard .ui-cmb-head.ui-active {
  border: 1px solid #ebebeb !important;
}

body.dashboard .ui-cmb-body {
  border: 1px solid #ebebeb;
}

html body.new_ui.dashboard .ui-cmb-head.disabled .ui-cmb-drop span,
html body.new_ui.dashboard .ui-cmb-head.ui-disabled .ui-cmb-drop span,
html body.new_ui.dashboard .ui-cmb-head .ui-cmb-drop span,
html body.new_ui.dashboard .ui-cmb-head.ui-hover .ui-cmb-drop span,
html body.new_ui.dashboard .ui-cmb-head:hover .ui-cmb-drop span,
html body.new_ui.dashboard .ui-cmb-head.ui-active .ui-cmb-drop span,
html body.new_ui.dashboard .ui-cmb-head.ui-focus .ui-cmb-drop span,
html body.new_ui.dashboard .ui-cmb-head:focus .ui-cmb-drop span {
  top: 14px !important;
  width: 8px !important;
  height: 6px;
  /*background: url(../i/dashboard-cal.gif) no-repeat;*/
}

html body.new_ui.dashboard .ui-cmb-head .ui-inner {
  font-size: 19px;
  color: #535353;
  line-height: 37px;
}

.dashboard .ui-cmb-head .ui-inner {
  left: 12px;
}

html body.new_ui.dashboard .ui-button.work-search .ui-ico {
  opacity: 1;
}

html body.new_ui.dashboard .ui-button.work-search .ui-b-text {
  border: 0;
  color: #aaabae;
}

html body.new_ui.dashboard .ui-button.work-search .ui-active .ui-b-text,
html body.new_ui.dashboard .ui-button.work-search .ui-hover .ui-b-text {
  box-shadow: none;
  background-color: #fff;
  border-color: #fff;
  color: #c59368;
  padding: 0;
}

html body.new_ui .ui-button.btn-notext.work-search .ui-active .ui-ico {
  filter: inherit;
}

#body.new_ui .ui-button.btn-notext.work-search .ui-ico {
  margin: 8px 0 0 10px;
}

html body.new_ui .ui-button.work-search {
  margin: 0 0 0 7px;
}

html body.new_ui.dashboard .dashboard-col-head .ui-button.work-search .ui-b-center .ui-b-text,
html body.new_ui.dashboard .dashboard-col-head .ui-button.work-search .ui-b-text,
html body.new_ui.dashboard .dashboard-col-head .ui-button.work-search .ui-b-last .ui-b-text {
  padding: 0;
}

.dashboard .ui-tooltip-helper {
  padding: 10px;
  box-shadow: none;
  background-color: #535353;
  border-radius: 3px;
  color: #FFF;
}

.dashboard .ui-tooltip-helper.helperVisible,
.dashboard .helperVisible {
  opacity: 0.9 !important;
}

html .new_ui.dashboard .xDTP-topCont {
  border-color: #c59368;
}

html .new_ui.dashboard .xDTP-bottomBar-today {
  background: none repeat scroll 0 0 #c59368 !important;
}

.new_ui.dashboard .internal_link {
  color: #c59368;
  border-bottom-color: #c59368;
}

.new_ui.dashboard .internal_link:hover {
  border-bottom-color: transparent;
}

.new_ui.dashboard .dashboard-head .internal_link {
  font-size: 20px;
  margin-right: 20px;
}

#cstat_window.ui-wnd .ui-wnd-scroll {
  margin-right: 0;
  padding-right: 15px;
  width: calc(100% - 30px) !important;
}

.ui-wnd-scroll .mCSB_container {
  min-height: 100%;
}


/* media.css */
@media (max-width: 1700px) {
  #week-2-graph .dashboard-work-footer .dashboard-window .t i,
  #week-graph .dashboard-work-footer .dashboard-window .t i {
    font-size: 12px;
  }
}

@media (max-width: 1500px) {
  #week-2-graph .dashboard-work-footer .dashboard-window .t i,
  #week-graph .dashboard-work-footer .dashboard-window .t i {
    font-size: 11px;
  }
}

@media (max-width: 1450px) {
  #week-2-graph .dashboard-work-footer .dashboard-window .t i,
  #week-graph .dashboard-work-footer .dashboard-window .t i {
    font-size: 9px;
  }
}

@media (max-width: 1400px) {
  #panel-rank-chart {
    display: none;
  }
  
  #dashboard-mfc-work {
    display: none;
  }
  
  .dashboard-col-26 {
    flex-basis: 30%;
  }
  
  .dashboard-col-37 {
    flex-basis: 70%;
  }
  
  .dashboard-col-split {
    min-width: inherit;
  }
  
  #dashboard-mfc-work {
    min-width: inherit;
  }
  
  .dashboard-col-head-title-simple {
    display: none;
  }
  
  .dashboard-col-head-title-toggle-mfc {
    display: block;
  }
  
  .dashboard-col-head-title-toggle {
    display: block;
    position: absolute;
    top: 16px;
    left: 20px;
    z-index: 10;
  }

  html body.new_ui.dashboard .dashboard-col-head-title-toggle .ui-button .ui-b-text {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  #dashboard-manager-ipad {
    flex-basis: 70%;
  }
  
  .dashboard-col {
    margin: 0 0 0 10px;
  }
  
  .dashboard-col:first-child {
    margin: 0 10px 0 0;
  }
  
  #dashboard-manager-ipad .dashboard-col-manager {
    width: 100%;
    flex-basis: 55%;
    margin: 0 0 10px 0;
  }
  
  #dashboard-manager-ipad .dashboard-col-manager:last-child {
    flex-basis: 45%;
    margin: 0;
  }
  
  #dashboard-manager-ipad>.dashboard-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  }
  
  #dashboard-manager-ipad .dashboard-row {
    height: 100%;
  }
  
  .dashboard-col-manager .dashboard-col-head {
    --webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  
  #panel-rank-chart {
    margin-bottom: 0;
  }
  
  .dashboard-table-row-title,
  .dashboard-queue-time {
    font-size: 14px;
  }
  
  .dashboard-table-col-1,
  .dashboard-table-col-2,
  .dashboard-table-col-3 {
    font-size: 14px;
  }
  
  .dashboard-stat-row {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  div.dashboard-stat-text {
      font-size: 14px;
      padding-top: 5px;
  }
  
  div.dashboard-info2-row {
    padding: 20px 20px;
  }
}

@media (max-width: 1000px) {
  .stat-window-con th, .stat-window-con td {
    font-size: 10px;
  }
  
  html body.new_ui.dashboard .ui-button .ui-b-text {
    font-size: 16px;
  }
}

/* ================ HEIGHT ================ */

@media (max-height: 900px) {
  #rank-con .dashboard-table-head,
  .dashboard-fake-head-2 {
    display: none;
  }
  
  div.dashboard-stat-value {
    font-size: 20px;
  }
}