:root {
    --primary: #0E6BC1;
    --color-bd: #D3D8DB;
    --color-base: #3D3D3D;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    color: var(--color-base);

    &.--gray {
        background-color: #F0F3F5;
    }
}

.title {
    position: relative;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    &.--reset {
        margin-bottom: 0;
    }

    > span {
        position: relative;
        display: inline-block;
        padding-bottom: 20px;

        &:after {
            position: absolute;
            bottom: 0;
            left: -20px;
            right: -20px;
            height: 3px;
            background-color: #1989FA;
            content: '';
        }
    }
}

.sector {
    position: relative;
    margin-bottom: 80px;
    
    &.--reset {
        margin-bottom: 0;
    }
    &.--min {
        max-width: 680px;
        margin-left: auto;
        margin-right: auto;
    }
    &.--flex {
        display: flex;
        align-items: flex-start;
    }
    &.--center {
        text-align: center;
    }
    &.--gray {
        margin: 0 -20px;
        background-color: #E4E8EA;
        margin-bottom: 0;

        &:after {
            position: absolute;
            bottom: -20px;
            width: 100%;
            height: 20px;
            background-color: #E4E8EA;
            content: '';
        }
    }
}

.container {
    max-width: 1440px;
    box-sizing: border-box;
    padding: 30px;

    &.--flex {
        display: flex;
    }
}

.form-footer {
    margin-top: 20px;
    text-align: right;
}

.separator {
    max-width: 680px;
    margin: 40px auto;
    border-top: 1px solid var(--color-bd);
}

.map {
    width: 100%;
    height: 100%;
    margin: 0 auto 20px;
    background-color: #ccc;
}