<template lang="pug">
    .analytics
        .analytics__header
            .title.--reset Аналитика
        .analytics__layout
            .analytics__column(style="width: 420px;")
                .analytics__dashboard
                  .analytics__title Заявки
                  div(style="padding: 20px")
                    div Категории Заявок:

                    div(
                      v-for="(item, i) in services.filter(e => !e.ParentID)"
                      :key="i"
                      style="font-size: 14px; margin: 12px 0;"
                    )
                      | {{ item.Name }}

                  .analytics__dich
                    div.--primary
                      .an__val 10 225
                      .an__desc Заявок получено
                    div.--success
                      .an__val 10 225
                      .an__desc Заявок выполнено
                    div.--active
                      .an__val 10 225
                      .an__desc Заявок в работе
                    div.--primary
                      .an__val 10 225
                      .an__desc Средняя оценка заявки
            .analytics__column(style="flex: 1;")
                .analytics__dashboard.--reset(style="height: 205px;" ref="chart")
                .analytics__dashboard
                    #chart
                    #map
        div(style="height: 20px;")
</template>

<script>
  import * as Map from '../Map';

  import axios from 'axios';
  import { mapState } from 'vuex';
  import api from '@/utils/api.js';
  import { BASE_URL } from '@/utils/constants.js'

  export default {
    name: 'Analytics',

    data: () => ({
      loading: true
    }),

    beforeDestroy() {
      document.body.classList.remove('--gray');
    },

    computed: {
      ...mapState([
        'services'
      ])
    },

    mounted() {
      document.body.classList.add('--gray');

      const start = new Date(2019, 6, 17);
      const end = new Date(2019, 6, 17 + 6);

      const startDate = `${start.getFullYear()}/${start.getMonth()}/${start.getDate()}`;
      const endDate = `${end.getFullYear()}/${end.getMonth()}/${end.getDate()}`;

      // создаем объект карты
      const core = new Map.Core({
        mode: 'analytics',
        map: {
          minZoom: 13
        }
      });
      core.computeAnalytics(8, start, end);
      core.mount('#map');

      const url = `${BASE_URL}Analytics/GetRequestPrognoz?start=${startDate}&end=${endDate}`;

      axios.get(url)
        .then((res) => {
          // строим график
          Highcharts.chart('chart', {
            chart: {
              type: 'line',
              height: 200
            },
            title: {
              text: 'График'
            },
            xAxis: {
              categories: res.data.categories
            },
            yAxis: {
              title: {
                text: 'Заявки'
              }
            },
            legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'middle'
            },
            series: res.data.series,
            responsive: {
              rules: [{
                condition: {
                  maxWidth: 500
                },
                chartOptions: {
                  legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                  }
                }
              }]
            }
          });
        })
        .catch((err) => {
          throw new Error(err);
        });
    }
  }
</script>

<style lang="postcss">

  .analytics {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    &__header

  {
    display: flex;
    align-items: center;
    min-height: 60px;
    height: 60px;
  }

  &__layout {
    position: relative;
    flex: 1;
    /* min-height: 100vh; */
    display: flex;
    margin: 0 -10px;
  }

  &__column {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    .analytics__dashboard

  {
    margin: 10px 0;
    &:first-child

  {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  }
  }

  &__dashboard {
    overflow: hidden;
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    &.--reset

  {
    flex: initial;
  }

  }
  }

  #map {
    height: 100%;
  }
  .analytics__title {
    height: 55px;
    padding: 0 20px;
    font-size: 15px;
    line-height: 55px;
    border-bottom: 1px solid var(--color-bd);
  }

  .analytics__dich {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
    border-top: 1px solid var(--color-bd); 
    border-bottom: 1px solid var(--color-bd);

    > div {
      width: calc(50% - 60px);
      margin: 30px;

      &.--primary .an__val {
        color: #005DCA;
      }
      &.--success .an__val {
        color: #5EBE2E;
      }
      &.--active .an__val {
        color: #FDA92C;
      }
    }
    .an__desc {
      font-size: 14px;
      color: #909399;
    }
    .an__val {
      margin-bottom: 10px;
      font-size: 25px;
    }
  }
</style>

